<!-- <!DOCTYPE html> -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>For Designer - Set a topic</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </head>
    <body>
        <header>
        <h2>For designer - set a topic</h2>
        </header>
        <form name="designerForm" method="post"> {% csrf_token %}

            <p> Please describe your project in a few words. </p>
            <p class="disclaimer"> Be as specific and concise as possible
                    (i.e. Designing an office chair, planning a 5 year-old's birthday party)</p>
            <div class="box">
            <input type="text" name="topic" >
            </div>

            <p> Write down a few questions that you have about your project. </p>
            <p class="disclaimer"> i.e. What would a 5 year-old girl like at her birthday party? </p>
            <div class="box" id=questions>
                <textarea type="text" name="question1"></textarea>
            </div>
            <button class="submitButton" type="button" onclick="add_question()">Add another question</button>
            <input class="submitButton" type="submit" value="submit" id="submit">
        </form>

           <script>
            var questions = 1;

            function add_question(){

                questions++;
                if(questions<=3){
                    var input = document.createElement("textarea");
                    var div = document.getElementById("questions");
                    input.class = "question2";
                    div.appendChild(input);
                }
            }
       </script>

        <style>
        </style>
    </body>
</html>
