<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rate The Sentence</title>
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
  <header>
	  <h2>Rate the Sentence</h2>
  </header>
   
    <p>Please indicate how well the sentence describes the question and answer.</p>
    <form method="post"> {% csrf_token %}
    <div class="box">
      <h3>How relevant is the sentence?</h3>
      <p><strong>Question</strong></p>
      <blockquote>{{ question }}</blockquote>
      <p><strong>Answer</strong></p>
      <blockquote>{{ answer }}</blockquote>
      <p><strong>Sentence</strong></p>
      <blockquote>{{ sentence }}</blockquote>
      <table>
        <tr id="headerRow">
          <td class="ratingColm"><strong>Very Irrelevant</strong></td>
          <td class="ratingColm"><strong>Somewhat Irrelevant</strong></td>
          <td class="ratingColm"><strong>Somewhat Relevant</strong></td>
          <td class="ratingColm"><strong>Very Relevant</strong></td>
        </tr>
        <tr class="questionRow">
          <td><input type="radio" name="AR1" value="0"></td>
          <td><input type="radio" name="AR1" value="1"></td>
          <td><input type="radio" name="AR1" value="2"></td>
          <td><input type="radio" name="AR1" value="3"></td>
        </tr>
      </table>
    </div>
    <input class="submitButton" type="submit" value="Next">
   
    </form>
   <script>
      // //var topic = "Design a chair for classrooms";
      // var question = "What's the color of the chair?";
      // var answer = "green, because it looks clean and refreshing.";
      // var sentence = "The color of the chair should be green, because it looks clean and refreshing.";

      // //document.getElementById("topic").innerHTML=topic;
      // document.getElementById("question").innerHTML=question;
      // document.getElementById("answer").innerHTML=answer;
      //  document.getElementById("sentence").innerHTML=sentence;

    </script>
  </body>
</html>
