<!-- <!DOCTYPE html> -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ask a new question about {{ topic }}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </head>
    <body>
        <header>
        <h2>Ask a new question about {{ topic }}</h2>
        </header>
        <p>In this task, you will ask a deeper question, related to the one you just answered. There's an example below.</p>
        <div class="box">
            <h3>Example new question</h3>
            <p><strong>Original question:</strong></p>
            <blockquote>What elements a cabin for vacation needs to have?</blockquote>
            <p><strong>A deeper question:</strong></p>
            <blockquote>What makes a cabin comfy?</blockquote>
        </div>

        <p>You recently answered:</p>
        <blockquote>{{ question }}</blockquote>
        <p>Think about this question and consider how you could make it deeper. Fill in your suggestion below</p>

        <form name="askQuestion" method="post" onsubmit="return validateForm()" action="/linking"> {% csrf_token %}
            <div class="box">
                <h3>Ask a deeper question</h3>
                <textarea type="text" name="answer" id="answer3" placeholder="Please write thoughtfully."></textarea>
            </div>

            <p class="disclaimer">NOTE: The quality of your submissions influence your payment and bonuses you earn.</p>
            <input class="submitButton" type="submit" value="Submit"  id="sumbit" disabled="disabled">

        </form>


        <script>

        $(function() {
        $("#answer3").bind("keyup", validateForm);
        });
         


        function validateForm()
          {
            //alert("keyup!");
          var answer = document.forms["askQuestion"]["answer"].value;

          while(answer.lastIndexOf(" ")>=0){
            answer = answer.replace(" ","");
            }

          if ( answer == null || answer =="" || answer.length<=5)
            {
           // alert("Please write the answer");
           $("form").find("input[type*='submit']").attr("disabled", "disabled").removeClass('enabled').addClass('disabled');
            
            return false;
            }

          else {
             $("form").find("input[type*='submit']").removeAttr("disabled").removeClass('disabled').addClass('enabled');
             return true;
          }
        }

        </script>

    </body>
</html>
