<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Answer a Question</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
  <header>
	  <h2>Answer a Question</h2>
  </header>
  <form name="answerQuestion" method="post" onsubmit="return validateForm()"> {% csrf_token %}
      <p>We are interested in learning more about {{ topic }}. </p>
    <p class="disclaimer">Please answer the following question to the best of your ability. If you don't know the answer, please choose "I don't know" to skip this question. The quality of your submissions influence your payment and bonuses you earn.</p>
        
    <div class="box">
        <h3 id="question"> {{ question }} </h3>
        <textarea type="text" name="answer" id="answer2" placeholder="Please use a complete sentence."></textarea>
    </div>

    <input class="submitButton" type="submit" value="Next" id="submit" disabled="disabled">
</form>
<form name="skipQuestion" method="post"> {% csrf_token %}
    <input class="submitButton" type="submit" value="I don't know" id="dont_no" >
</form>

<script>

$(function() {
        $("#answer2").bind("keyup", validateForm);
});



function validateForm()
  {
    //alert("keyup!");
  var answer = document.forms["answerQuestion"]["answer"].value;

  while(answer.lastIndexOf(" ")>=0){
    answer = answer.replace(" ","");
    }

  if ( answer == null || answer =="" || answer.length<=1)
    {
   // alert("Please write the answer");
   $("form").find("input[id*='submit']").attr("disabled", "disabled").removeClass('enabled').addClass('disabled');

    return false;
    }

  else {
     $("form").find("input[id*='submit']").removeAttr("disabled").removeClass('disabled').addClass('enabled');
     return true;
  }
}
  </script>

  <style>


  </style>
  </body>
</html>
