<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rate The Sentence</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
  <header>
	  <h2>Rate the Sentence</h2>
  </header>

    <p>Please indicate how well the sentence describes the question and answer.</p>
    <form name = "rateSentence" method="post" onsubmit="return validateForm()"> {% csrf_token %}
    <div class="box">
      <h3>How relevant is the sentence?</h3>
      <p><strong>Question</strong></p>
      <blockquote>{{ question }}</blockquote>
      <p><strong>Answer</strong></p>
      <blockquote>{{ answer }}</blockquote>
      <p><strong>Sentence</strong></p>
      <blockquote>{{ sentence }}</blockquote>
      <table>
        <tr id="headerRow">
          <td class="ratingColm"><strong>Very Irrelevant</strong></td>
          <td class="ratingColm"><strong>Somewhat Irrelevant</strong></td>
          <td class="ratingColm"><strong>Somewhat Relevant</strong></td>
          <td class="ratingColm"><strong>Very Relevant</strong></td>
        </tr>
        <tr class="questionRow">
          <td><input type="radio" name="AR1" value="0"></td>
          <td><input type="radio" name="AR1" value="1"></td>
          <td><input type="radio" name="AR1" value="2"></td>
          <td><input type="radio" name="AR1" value="3"></td>
        </tr>
      </table>
    </div>
    <input class="submitButton" type="submit" value="Next" disabled="disabled">

 </form>
 <script>

 $(document).ready(function(){


  var allchecked = 0;


  $("form").mouseup(function(){
    //console.log($('input[type=radio]:checked').size());
    //alert($('input[type=radio]:checked').size());
    allchecked = 0;
    $('.questionRow').each(function () {
        // Question text
        var question = $(this).prev();

        // Validate
        if ($(this).find('input').is(':checked')) {
            allchecked++;
        }
    });
    console.log(allchecked);
    if(allchecked >= 0)
      $("form").find("input[type*='submit']").removeAttr("disabled").removeClass('disabled').addClass('enabled');
    else
      $("form").find("input[type*='submit']").attr("disabled", "disabled").removeClass('enabled').addClass('disabled');

  });

 });



  </script>
  </body>
</html>
