<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crowd Design Workflow</title>
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
  <header>
	  <h2>Crowd Design Workflow</h2>
  </header>
    <p>Hi! We have some pairs of questions and answers. We need your help to integrate them into one sentence and give the sentence some tags. You need to complete 5 small tasks like this. NOTE: the quality of your work will influence the payment you receive. </p> 


    <input class="submitButton" type="submit" value="Start" onclick="location.href='/write'">

  </body>
</html>
