<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tag The Sentence</title>
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
  <header>
	  <h2>Tag the Sentence</h2>
  </header>
   
    <p>Please add some tags/keywords to decribe this sentence.</p>
    
    <form method="post" action='/write'> {% csrf_token %}
    <div class="box">
      <h3>What tags describe this sentence?</h3>
      <p>{{ sentence }}</p>
     <textarea type="text" id="tags" name="tags" placeholder="Please use ',' to seperate multiple tags"></textarea>
    </div>
    <p class="disclaimer">Please check your tags. The quality of your work will influence the payment you receive. </p>

    <input class="submitButton" type="submit" value="Submit">
    </form>

    <script>
      // //var topic = "Design a chair for classrooms";
      // var sentence = "The color of the chair should be green, because it looks clean and refreshing.";

      // document.getElementById("sentence").innerHTML=sentence;

    </script>
  </body>
</html>
