<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Questions about {{ topic }}</title>
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
  <header>
	  <h2>Questions about {{ topic }}</h2>
  </header>
    <div class="box">
    <h3>Congrats!</h3>
    <p>You've already finished {{task_number}} tasks. There are still {{5-task_number}} tasks left. </p>
    </div>
    <p class="disclaimer">The quality of your answers and questions will influence the payment you receive, so please choose "I don't know" to skip to the next question if you're not familiar with this particular topic.</p> 
  
    <form action="/answerQuestion" method="get">
        <input type="submit" value="Next Task">
    </form>
</body>
</html>
