<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Answer a Question</title>
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
  <header>
	  <h2>Answer a Question</h2>
  </header>
  <form method="post"> {% csrf_token %}

    <p>Answer the question above to the best of your ability. If you don't know the answer, choose "I don't know" to skip this question.</p>

    <input class="submitButton" type="submit" value="Next" >
  </form>

  <input class="submitButton" type="submit" value="I don't know" onclick="location.href='rate'">
 
  <!--<script>
      var topic = "Design a chair for classrooms";
      var question = "What's the color of the chair?";
      var answer; 

      document.getElementById("topic").innerHTML=topic;
      document.getElementById("question").innerHTML=question;
      answer = $("#answer").val();
  </script> -->
  </body>
</html>
