<!-- <!DOCTYPE html> -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>What's Next?</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </head>
    <body>
        <header>
        <h2>What's Next?</h2>
        </header>
        <p>You have {{ remaining }} tasks left to do. You can ask a deeper question related to the one you just answered or answer a different question next.</p>
        <p>Select what you'd like to do next?</p>
        <input class="submitButton" type="submit" value="Write a deeper question" onclick="location.href='askQuestion'">
        <input class="submitButton" type="submit" value="Answer a new question" onclick="location.href='answerQuestion'">
    </body>
</html>
