<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rate Questions{% if answers %} and Answers{% endif %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
  <header>
	  <h2>Rate Questions{% if answers %} and Answers{% endif %}</h2>
  </header>
  <p> user id = {{ user_id }} </p>
  <p>Please rate the question you just answered{% if answers %} and answers from others in the community{% endif %}.</p>
    <p>For reference, we have included the question here:</p>
    <p id="question">{{Question}}</p>
    <form name="rateForm" method="post" action='/decide' onsubmit="return validateForm()" > {% csrf_token %}
    <div class="box">
	    <h3>Rate the Question</h3>
      <p>How much do you agree with the following statements about the following question:</p>
      <blockquote>{{ question }}</blockquote>
      <table>
        <tr id="headerRow">
          <td class="questionColm"><strong></strong></td>
          <td class="ratingColm"><strong>Strongly Agree</strong></td>
          <td class="ratingColm"><strong>Somewhat Agree</strong></td>
          <td class="ratingColm"><strong>Somewhat Disagree</strong></td>
          <td class="ratingColm"><strong>Strongly Disagree</strong></td>
        </tr>
        <tr class="questionRow">
          <td class="questionColm">The question is relevant to <span >{{ topic }}</span></td>
          <td><input type="radio" name="QR1" value="0"></td>
          <td><input type="radio" name="QR1" value="1"></td>
          <td><input type="radio" name="QR1" value="2"></td>
          <td><input type="radio" name="QR1" value="3"></td>
        </tr>
        <tr class="questionRow">
          <td class="questionColm">The question is clear and consice</td>
          <td><input type="radio" name="QR2" value="0"></td>
          <td><input type="radio" name="QR2" value="1"></td>
          <td><input type="radio" name="QR2" value="2"></td>
          <td><input type="radio" name="QR2" value="3"></td>
        </tr>
        <tr class="questionRow">
          <td class="questionColm">The question is worth to generate many answers</td>
          <td><input type="radio" name="QR3" value="0"></td>
          <td><input type="radio" name="QR3" value="1"></td>
          <td><input type="radio" name="QR3" value="2"></td>
          <td><input type="radio" name="QR3" value="3"></td>
        </tr>
      </table>
	    </div>
      {% if answer %}
      <div class="box">
      <h3>Rate other's Answers</h3>
      <p>How good is each answer to the following question:</p>
      <blockquote>{{ question }}</blockquote>
      <table>
        <tr id="headerRow">
          <td class="questionColm"><strong></strong></td>
          <td class="ratingColm"><strong>Very Poor</strong></td>
          <td class="ratingColm"><strong>Somewhat Poor</strong></td>
          <td class="ratingColm"><strong>Somewhat Good</strong></td>
          <td class="ratingColm"><strong>Very Good</strong></td>
        </tr>
        {% for answer in answers %}
          <tr class="questionRow">
            <td class="questionColm" id="{{ answer.id }}">{{ answer.text }}</td>
            <td><input type="radio" name="{{ answer.id }}" value="0"></td>
            <td><input type="radio" name="{{ answer.id }}" value="1"></td>
            <td><input type="radio" name="{{ answer.id }}" value="2"></td>
            <td><input type="radio" name="{{ answer.id }}" value="3"></td>
          </tr>
        {% endfor %}
      </table>
      </div>
      {% endif %}
    <p class="disclaimer">The quality of your submissions influence your payment and bonuses you earn. Please answer carefully.</p>
     <input class="submitButton" type="submit" value="Next" id="submit" disabled="disabled">
    </form>

  <script>

$(document).ready(function(){

  var allchecked = 0;

  $("form").mouseup(function(){
    //console.log($('input[type=radio]:checked').size());
    //alert($('input[type=radio]:checked').size());
    allchecked = 0;
    $('.questionRow').each(function () {
        // Question text
        var question = $(this).prev();

        // Validate
        if ($(this).find('input').is(':checked')) {
            allchecked++;
        }
    });
    console.log(allchecked);
    if(allchecked >= 5)
      $("form").find("input[type*='submit']").removeAttr("disabled").removeClass('disabled').addClass('enabled');
    else
      $("form").find("input[type*='submit']").attr("disabled", "disabled").removeClass('enabled').addClass('disabled');

  });

 });



  </script>

    </body>
</html>
